<body>

<!DOCTYPE html>
<html>
    <head>
        <title>Dog Adoption App</title>
    </head>

    <body>
        <h1>Adopt-a-dog</h1>
        <h2>Find the perfect dog for you!</h2>
        <form method=POST action="/results">
            <h3>What size?</h3>
                <input type="radio" name="size" value="correct">Small</input>
                <input type="radio" name="size" value="correct">Medium</input>
                <input type="radio" name="selected-answer" value="correct">Large</input><br>
            <h3>Price Range</h3>
                <input type="radio" name="price" value="correct">up to $100</input>
                <input type="radio" name="price" value="correct">$101-$250</input>
                <input type="radio" name="price" value="correct">$251 and above</input> <br>
            <h3>Gender</h3>
                <input type="radio" name="gender" value="correct">Male</input>
                <input type="radio" name="gender" value="correct">Female</input> <br>
            <h3>Age of dog</h3>
                <input type="radio" name="age" value="correct">up to 9 months</input>
                <input type="radio" name="age" value="correct">1yr.-3yrs.</input>
                <input type="radio" name="age" value="correct">4yrs-6yrs.</input>
                <input type="radio" name="age" value="correct">7yrs.-9yrs.</input>
                <input type="radio" name="age" value="correct">10yrs.</input> <br>
            <input type="submit">
        </form>
    </body>
        

</html>