<!DOCTYPE html>
<html>
    <head>
        <title>Dog Adoption App</title>
                <link rel="stylesheet" href="pets.css">


    </head>
    <style>
    
#font{
    font-family: sans-serif;
}

    </style>
    <body>
        <br>
        <br>
         {% for pet in data %}
            {%if "photos" in pet["media"] %}
                <img height=300 width=350 src= {{ pet['media']['photos']['photo'][2]['$t']}}><br>
            {% else %}
               <img src="https://www.unesale.com/ProductImages/Large/notfound.png">
            {% endif %}
            <div id="font">
          
              
         
            Name:{{pet['name']['$t']}}<br> 
            Size: {{pet['size']['$t']}} <br>
            Breed:{{pet['breeds']['breed']['$t']}}<br
            gender:{{pet['sex']['$t']}} <br>
            Location:{{pet['contact']['city']['$t']}}<br>
            Email:{{ pet['contact']['email']['$t']}}<br>
            Age:{{pet['age']['$t']}}<br>
          
           
         </div>
         {%endfor%}
         
    </body>
</html>

